.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    align-items: center;
    z-index: 150;
    top: 0;
    position: fixed;
    font-family: Mulish;
    transition: 2s background-color cubic-bezier(0.25, 0.45, 0.45, 0.95);

    &:hover{
        background-color: rgba(222, 184, 135, .5);
    }

    .options {
        padding-right: 20px;
    }

    .option {
        padding: 15px;
        text-decoration: none;
        color: #1b100c;

    }

    #nav-logo {
        height: 30px;
        padding: 15px;
    }
}