.navbar {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100vw;
    align-items: center;
    z-index: 150;
    top: 0;
    position: fixed;
    font-family: Mulish;

    background: linear-gradient(
        to bottom,
        #1b100c,
        transparent
    );

    .options {
        padding-right: 20px;
    }

    .option {
        padding: 15px;
        text-decoration: none;
        // color: #deb887;
        color: white;
    }

    #nav-logo {
        height: 30px;
        
    }
}