.push {
    height: 160px;
}

.footer {
    height: 160px;

    background-color: #1B100C;
    color: #deb887;

    padding: 25px;
    display: flex;
    justify-content: space-evenly;

    .option {
        color: #deb887;
        text-decoration: none;
        font-family: Mulish;
    }

    .social {
        font-family: Mulish;
        padding: 10px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
}