h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mulish;
  font-weight: 300;
}

h1 {
  text-align: center;
  font-size: 60pt;
}

p {
  font-family: Raleway;
}

html,
body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: #deb887;
}

.main {
  min-height: calc(100vh - 210px);
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 40pt;
  }
}
