.home {
    // background-color: red;
    margin: 0;
    padding: 20px;
    background-color: #1B100C;
}


.hero {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/beans.jpg);

    height: 75vh;

    .hero-text{
        color: burlywood;
        text-shadow: 2px 2px 2px grey;
        text-align: center;


        h1 {
            font-size: 72pt;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        h3 {
            font-size: 48pt;
            margin-top: 0;
            padding-top:0;
        }
    }


}