.home {
    // width: 100vw;
    margin: 0;
    background-color: #1B100C;
    height: 100vh;
}


.hero {
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/beans.jpg);

    height: 100vh;

    .hero-text{
        color: #deb887;
        text-shadow: 2px 2px 2px grey;
        padding-left: 50px;
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        #main-logo {
            height: 250px;
            width: auto;
        }

        h1 {
            font-size: 72pt;
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: 48pt;
            margin: 0;
            padding:0;
        }
    }
}